html,body{
	margin: 0;
	padding: 0;
	color: #101010;
	height: 100%;
	width:100%;
	font-family: "苹方","微软雅黑";
}
p,h2,h3{
	margin: 0;
	padding: 0;
}
body{
	/*background-image: url(IMG/background.jpg);*/
	background-color: #fdfdfd;
}

@font-face {
  font-family: 'pinghei-light';
  src: url('font/PingFangLight.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'pinghei-regular';
  src: url('font/PingFangRegular.ttf') format('truetype');
  font-style: normal;
}

#load{
	width: 100%;
	height:100%;
	overflow: hidden;
	background: #eee;
	position: fixed;
	z-index: 9999;
}
#load img{
	max-width: 40px;
	margin:0 auto;
	position: fixed;
	top: 48vh;
	left: 49vw;
}
#top{
	background:#111;
	opacity: .8;
	position: fixed;
	top: 0;
	height: 20px;
	width: 100%;
	line-height: 20px;
	display: none;
	-webkit-transition: all .3s;
	transition: all .3s;
}
#top p{
	text-align: center;
	color: #eee;
	font-size: 12px;
}
#left{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 25px;
	background-color: #101010;

}
#left #withMe{
	position: fixed;;
	top: 0;
	left: 0;
	height: 1px;
	width: 25px;
	background-color: #ddd;
	-webkit-transition: all .2s;
	transition: all .2s;
	z-index: 999;
}
#left img{
	position: fixed;
	top: 0;
	left: 0;
	max-width: 30px;
	opacity: .6;
}
#right{
	position: fixed;
	right: 	12%;
	top: 40%;
	opacity: 0;
	-webkit-transition:all .4s;
	transition:all .4s;
}
#right a{
	font-size: 12px;
	text-decoration: none;
	margin-top: 10px;
	text-align: right;
}
#right div{
	position: absolute;
	width: 35px;
	height: 3px;
	background: #101010;
	right: 0;
	-webkit-transition:all .4s;
	transition:all .4s;
}
#right #index1{
	top: 0;
}
#right #index2{
	top: 20px;
}
#right #index3{
	top: 40px;
}
#right #index4{
	top: 60px;
}
#right #index5{
	top: 80px;
}
#right .on{
	width: 60px;
	background: #2181e3;
}
#right p{
	position: absolute;
	left: 94%;
	text-align: left;
	color: #101010;
	font-size: 12px;
	transform: scale(.75);
	-moz-transform: scale(.75);
	-webkit-transform: scale(.75);
}
#right .p1{
	top: -5.1px;
	width: 100px;
}
#right .p2{
	top: 14.9px;
	width: 100px;
}
#right .p3{
	top: 34.9px;
	width: 100px;
}
#right .p4{
	top: 54.9px;
	width: 100px;
}
#right .p5{
	top: 74.9px;
	width: 100px;
}
.phoneNav{
	display: none;
}


/*-------------------*/

section{
	width: 60%;
	margin-left: 11vh;
}
section img{
	padding-top: 24.6vh;
	margin-left: -40px;
	max-height: 400px;
	padding-bottom: 80px;
	-webkit-transition: all .6s;
	transition: all .6s;
	opacity: 0;
}
#main{
	width: 90%;
	text-align: center;
	overflow: hidden;
}
section p{
	font-size: 20px;
	padding: 8px 0 ;
	font-family: "pinghei-regular";
}
.section2,.section3,.section4,.section5,.section6{
	padding-top: 50px;
	margin-top: 170px;
	border-top: .5px solid #aaa;
}
.section2 p,.section3 p,.section4 p,.section5 p,.section6 p{
	font-size: 16px;
	line-height: 40px;
	color: #555;
}
.section3{
	padding-top: 60px;
}
.section3 p{
	padding:0px 16px;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 35px;
	height: 37px;
	color: #777;
	border: 1px solid #888;
	border-radius: 12px;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.section3 p:hover{
	border: .8px solid #5db1ff;
	color: #5db1ff;


}
.section6 a{
	text-decoration: none;
	color: #555;
}

.section6 img{
	margin-top: 270px;
	margin-left: -5px;
	margin-bottom: -70px;
	max-width: 160px;
	opacity: 1;
}

/*-----------------*/

@media (max-width:600px){
	#right{
		display: none;
	}
	.phoneNav{
		display: none;
		color: #ccc;
	}
    .phoneNav .phone1{
    	position: fixed;
    	display: inline-block;
    	font-size: 20px;
    	bottom: 9%;
    	right: -7%;
    	transform: rotate(90deg);
    }
    .phoneNav .phone2{
    	display: none;
    }
    .phoneNav .phone3{
    	display: none;
    }
    .phoneNav .phone4{
    	display: none;
    }
    .phoneNav .phone5{
    	display: none;
    }	
	section{
	    width: 75%;
	    margin-left: 60px;
    }
    section p{
	    font-size: 16px;
    }
    section img{
	    max-height: 300px;
	    margin-left: -50px;
    }
    #main{
    	overflow: hidden;
    }
    .section2,.section3,.section4,.section5,.section6{
	    border-top: .9px solid #aaa;
    }
    .section2 p,.section3 p,.section4 p,.section5 p,.section6 p{
	    font-size: 15px;
	    line-height: 40px;
    }
    .section3 .wrapS3{
    	text-align: center;
    	width: 90%;
    	margin:0 auto;
    }
    .section3 p{
    	font-size: 14px;
    }

}